{
  "openapi": "3.0.0",
  "info": {
    "title": "Banbury API",
    "version": "1.0.0",
    "description": "API for Banbury services"
  },
  "servers": [
    {
      "url": "https://docs.banbury.io/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.banbury.io/v1",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/greet": {
      "get": {
        "summary": "Returns a greeting message",
        "description": "This endpoint returns a greeting message for a given name.",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the person to greet"
          }
        ],
        "responses": {
          "200": {
            "description": "A greeting message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Hello, John!"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/load_credentials": {
      "get": {
        "summary": "Returns a greeting message",
        "description": "This endpoint returns a greeting message for a given name.",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the person to greet"
          }
        ],
        "responses": {
          "200": {
            "description": "A greeting message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Hello, John!"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {},
  "tags": []
}